{% extends 'medical/base.html'%}
{% load my_tags %}
{% block content %}

<div class="container">
    <h1 class="jumbotron-heading">Наши врачи</h1>
</div>

<div class="container">
    <div class="col-12 mb-5">
        {% if user.is_staff %}
        <a class="btn btn-outline-primary mb-5" href="{% url 'medical:doctor_create' %}">Добавить врача</a>
        {% endif %}
    </div>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <img src="{{ object.avatar | media_filter }}">
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.specialization }}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'medical:doctor_detail' object.pk %}"
                       role="button">Просмотр</a>
                    {% if user.is_staff %}
                    <a class="btn btn-primary" href="{% url 'medical:doctor_edit' object.pk %}"
                       role="button">Редактировать</a>
                    <a class="btn btn-primary" href="{% url 'medical:doctor_delete' object.pk %}"
                       role="button">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}