<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Сайт компании медицинской диагностики</h4>
                    <p class="text-muted">Лабораторная, инструментальная диагностика, прием профильных специалистов.</p>
                </div>

                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Меню</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'medical:index' %}" class="text-white">Главная</a></li>
                        <li><a href="{% url 'medical:company' %}" class="text-white">О компании</a></li>
                        <li><a href="{% url 'medical:doctors_list' %}" class="text-white">Наши врачи</a></li>
                        <li><a href="{% url 'medical:services_list' %}" class="text-white">Услуги</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'medical:appointments_list' %}" class="text-white">Записи</a></li>
                        <li><a href="{% url 'medical:results_list' %}" class="text-white">Результаты исследований</a>
                        </li>
                        <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
                        <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
                        {% else %}
                        <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
                        <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                        {% endif %}
                        <li><a href="{% url 'medical:contacts' %}" class="text-white">Контакты</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>